:root {
  --one: #1b262c;
  --two: #0f4c75;
  --three: #3282b8;
  --four: #bbe1fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x:hidden;
}

body {
  background: #3282b852;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

#navbar {
  padding: 1rem 4rem;
  background: var(--two);
  color: var(--four);

  ul {
    list-style: none;
    float: left;

    li {
      margin: 1rem;

      a {
        font-size: 1.2rem;
        text-decoration: none;
        color: var(--four) !important;
      }
    }
  }
}


#loginForm,
#registerForm {
  background: var(--one);
  width: 50%;
  padding: 2rem 3rem;
  margin: 4rem auto;
  color: var(--four);
  border-radius: 10px;

  .form-group {
    button {
      margin: 2rem 0;
    }
  }
}


#AddForm {
  background: white;
  margin: 2rem 5rem 0 0;
  padding: 2rem;
  border-radius: 5px;
}



@media (max-width:420px) {

  #navbar {
    padding: 1rem 0.2rem;

    ul {
      width: 100%;

      li {
        width: 50%;
        display: block;
        margin: 1rem;

        a {
          width: 100%;
          margin: auto;
          font-size: 0.8rem;
          padding: 0.5rem;
        }
      }
    }
  }


  #HomeText {
    margin-top: 5rem !important;
    padding: 0 0.2rem;
  }

  #loginForm,
  #registerForm,
  #AddForm {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;

    h2 {
      font-size: 1rem;
    }
    h3{
      font-size: 1rem;
    }

    label {
      font-size: 0.7rem;
    }

    input {
      font-size: 0.8rem;
    }

    button {
      font-size: 0.9rem;
    }

    .errors {
      font-size: 0.6rem;
    }
  }

  #registerForm {
    label {
      margin: 0;
    }
  }

  #contacts {
    h1 {
      font-size: 1rem;
      opacity: 0.8;
    }
  }

  #contactCard {
    width: 90%;
    margin: 1rem auto;
    padding: 0;

    .card-header {
      font-size: 0.5rem !important;
    }

    .card-title {
      font-size: 1rem;
    }

    button{
      display: block;
      font-size: 0.8rem;
      margin: 0 auto;
      margin-bottom: 0.5rem;
    }
  }


}